---
title: Coral Reference Documentation
layout: standalone
---

%center
	%h1 #{@item[:title]}

%div.sectionlist{:style => "width: 210px; margin: auto;"}
	%h3 Latest version:
	%big
		%ul
			%li
				%a(href="/#{@config[:version]}/") Coral #{@config[:version]}

	%h3 Previous versions:
	%big
		%ul
			%li
				%a(href="/0.5/") Coral 0.5
