%p
	&copy; 2010 libcoral.org. Coral is <a href="https://github.com/libcoral/coral">open source</a>.
	See the
	%a(href="https://github.com/libcoral/coral/blob/master/LICENSE.md") Coral License
	for details.
	%br
	Updated on #{Time.now.strftime( "%b %e %Y" )}.
